.mainContainer {
  display: flex;
  margin: 5vh 0 10vh 0;
}

.image1,
.image2 {
  height: 85vh;
  width: auto;
}

.image2 {
  margin-left: 7px;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h1Container {
  display: flex;
  justify-content: space-between;
}

.h1Container,
.h2Container,
.colorsContainer {
  width: 75%;
}

.heading1 {
  margin: 20px 0 10px 0;
  font-size: 20px;
  font-weight: 600;
  cursor: default;
}

.h2Container {
  text-align: start;
  cursor: default;
}

.heading2 {
  margin: 10px 0 0 0;
  font-size: 18px;
  font-weight: 500;
}

.colorsContainer {
  margin-top: 40px;
  display: flex;
  align-items: center;
}

.blueContainer {
  width: 22px;
  height: 22px;
  background-color: white;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.green,
.red {
  width: 20px;
  height: 20px;
  margin: 0 3px;
}

.blue {
  width: 20px;
  height: 20px;
  left: 0;
  background-color: #2755ab;
}

.red {
  background-color: #992323;
}

.green {
  background-color: #0f5e3f;
}

.button,
.disabledButton {
  cursor: pointer;
  border: none;
  margin-top: 60px;
  width: 240px;
  height: 40px;
  background-color: black;
  font-family: "Muli", sans-serif;
  font-size: 15px;
  color: white;
}

.button:hover {
  background-color: white;
  border: 1.5px solid black;
  color: black;
}

.disabledButton {
  cursor: default;
  background-color: rgba(0, 0, 0, 0.5);
}
