.sign-in-container {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 450px;
  background-color: white;
  text-align: center;
  z-index: 300;
  box-shadow: -5px 0px 5px -1px rgba(0, 0, 0, 0.15);
  font-family: "Muli", sans-serif;
  transform: translateX(110%);
  transition: all 0.4s ease-out;
}

.sign-in-container.open {
  transform: translateX(0%);
}

.close-form-icon {
  font-size: 40px;
  text-align: right;
  padding-right: 7px;
  color: rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

@media (max-width: 800px) {
  .sign-in-container {
    width: 100vw;
  }
}
