.side-drawer {
  height: 100vh;
  background-color: white;
  position: fixed;
  width: 450px;
  top: 0;
  left: 0;
  z-index: 200;
  padding-top: 10px;
  transform: translateX(-100%);
  transition: transform 0.4s ease-out;
}

.side-drawer.open {
  transform: translateX(0);
}

@media (max-width: 800px) {
  .side-drawer {
    width: 100vw;
  }
}

@media (min-width: 1001px) {
  .side-drawer {
    display: none;
  }
}
