.register-headline {
  margin-top: 60px;
  padding-bottom: 30px;
  text-align: center;
}

.register-form-input,
.register-form-button {
  display: block;
  margin: auto auto;
}

.register-form-input {
  width: 300px;
  height: 30px;
  margin-top: 30px;
  font-family: "Muli", sans-serif;
  font-size: 15px;
  padding-bottom: 5px;
  border: none;
  border-bottom: 0.6px solid lightgray;
}

.register-form-input:focus {
  outline: none;
}

.register-form-button {
  margin-top: 60px;
  width: 240px;
  height: 40px;
  background-color: black;
  font-family: "Muli", sans-serif;
  font-size: 15px;
  color: white;
}

.register-form-button:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
