.sign-in-form-container h1 {
  margin-top: 60px;
  padding-bottom: 30px;
  text-align: center;
}

.sign-in-form-input,
.sign-in-form-button {
  display: block;
  margin: auto auto;
}

.sign-in-form-input {
  width: 300px;
  height: 30px;
  margin-top: 30px;
  font-family: "Muli", sans-serif;
  font-size: 15px;
  padding-bottom: 5px;
  border: none;
  border-bottom: 0.6px solid lightgray;
}

.sign-in-form-input:focus {
  outline: none;
}

.sign-in-form-button {
  margin-top: 60px;
  width: 240px;
  height: 40px;
  background-color: black;
  font-family: "Muli", sans-serif;
  font-size: 15px;
  color: white;
}

.sign-in-form-button:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.sign-in-paragraph {
  margin-top: 30px;
  font-size: 14px;
  color: gray;
  text-align: center;
}

.sign-in-span {
  color: gray;
  cursor: pointer;
  text-decoration: underline;
}

.sign-in-span:hover {
  color: darkgray;
}
