.sign-in-container {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 450px;
  background-color: white;
  text-align: center;
  z-index: 300;
  box-shadow: -5px 0px 5px -1px rgba(0, 0, 0, 0.15);
  font-family: "Muli", sans-serif;
  transform: translateX(110%);
  transition: all 0.4s ease-out;
}

.sign-in-container.open {
  transform: translateX(0%);
}

.close-form-icon {
  font-size: 40px;
  text-align: right;
  padding-right: 7px;
  color: rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.sign-in-container h1 {
  margin-top: 60px;
  padding-bottom: 30px;
  text-align: center;
}

.sign-in-input,
.sign-in-button {
  display: block;
  margin: auto auto;
}

.sign-in-input {
  width: 300px;
  height: 30px;
  margin-top: 30px;
  font-family: "Muli", sans-serif;
  font-size: 15px;
  padding-bottom: 5px;
  border: none;
  border-bottom: 0.6px solid lightgray;
}

.sign-in-input:focus {
  outline: none;
}

.sign-in-button {
  margin-top: 60px;
  width: 240px;
  height: 40px;
  background-color: black;
  font-family: "Muli", sans-serif;
  font-size: 15px;
  color: white;
}

.sign-in-button:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.register-paragraph {
  margin-top: 30px;
  font-size: 14px;
  color: gray;
  text-align: center;
}

.register-span {
  color: gray;
  cursor: pointer;
  text-decoration: underline;
}

.register-span:hover {
  color: darkgray;
}

@media (max-width: 800px) {
  .sign-in-container {
    width: 100vw;
  }
}
