.container {
  margin: 0 5px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageLink {
  cursor: pointer;
}

.image {
  display: block;
  width: 20vw;
  height: auto;
  min-width: 320px;
  max-width: 600px;
}

.imageContainer {
  position: relative;
}

.drawer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 13px;
  transform: translateY(100%);
  transition: transform 0.4s ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.imageContainer:hover .drawer {
  transform: translateY(0);
}

.drawerOpen,
.drawerClosed {
  display: none;
}

.sizes {
  font-size: 15px;
  display: flex;
  justify-content: space-around;
  width: 190px;
}

.size {
  padding: 10px;
}

.size:hover {
  color: darkgray;
}

.info {
  position: relative;
  width: 100%;
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  padding-top: 7px;
  padding-bottom: 35px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  z-index: 2;
  background-color: white;
}

.name {
  margin-bottom: 5px;
}

.likeButton {
  justify-self: flex-end;
  padding-right: 10px;
}

.name,
.price {
  padding-left: 10px;
}

.price {
  display: flex;
  align-items: center;
}

.addButton {
  display: none;
  border: none;
  height: 30px;
  background-color: white;
  font-family: "Muli", sans-serif;
  font-size: 13px;
  cursor: pointer;
  border: 1.5px solid black;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1250px) {
  .image {
    width: 40vw;
    height: auto;
    min-width: 320px;
    max-width: 800px;
  }

  .addButton {
    display: flex;
  }

  .imageContainer:hover .drawer {
    display: none;
  }

  .info {
    z-index: 2;
  }
  .drawerOpen,
  .drawerClosed {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 13px;
    transform: translateY(100%);
    transition: transform 0.4s ease-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .drawerOpen {
    transform: translateY(0);
  }
}
