.individual-image-container {
  margin: 1vw;
  background-color: pink;
  padding: 0;
}

.product-image {
  width: 30vw;
  height: auto;
  min-width: 320px;
  max-width: 600px;
}

.product-info {
  width: 100%;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.like-button {
  justify-self: flex-end;
}

@media (max-width: 900px) {
  .individual-image-container {
    margin: 1vw 0;
  }
}
