.container {
  width: 100vw;
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.imagesContainer {
  margin-top: 5vw;
  margin-bottom: 10vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
}

.card {
  display: block;
  padding: 1.7vw;
  width: 35vw;
  max-width: 450px;
  min-width: 300px;
  height: auto;
}

@media (max-width: 600px) {
  .imagesContainer {
    grid-template-columns: 1fr;
  }

  .card {
    padding-bottom: 5vh;
  }
}

@media (max-width: 350px) {
  .card {
    min-width: 270px;
  }
}
