:root {
  --filter-container-width: 250px;
}

.product-page-container {
  margin-top: 200px;
  display: flex;
}

.filter-container {
  width: var(--filter-container-width);
  height: 100vh;
}

.images-container {
  width: calc(100vw - var(--filter-container-width));
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-right: 2vw;
}

@media (max-width: 900px) {
  .filter-container {
    display: none;
  }
  .images-container {
    width: 100vw;
    padding-right: 0;
  }
}
