.headline {
  margin-top: 60px;
  padding-bottom: 30px;
  text-align: center;
  font-size: 28px;
}

.button {
  cursor: pointer;
  border: none;
  margin-top: 60px;
  width: 240px;
  height: 40px;
  background-color: black;
  font-family: "Muli", sans-serif;
  font-size: 15px;
  color: white;
  outline: none;
}

.button:hover {
  background-color: white;
  border: 1.5px solid black;
  color: black;
}

.registerParagraph {
  margin-top: 30px;
  font-size: 14px;
  color: gray;
  text-align: center;
}

.registerSpan {
  color: gray;
  cursor: pointer;
  text-decoration: underline;
}

.registerSpan:hover {
  color: darkgray;
}
