.toggle-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 22px;
  width: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button-line {
  width: 30px;
  height: 2.5px;
  border-radius: 1px;
  background-color: black;
}
