.menu {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  /* box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.03); */
  border-bottom: 0.05px solid lightgray;
}

.options-container {
  padding: 120px 0;
  width: 45%;
  display: flex;
  justify-content: space-between;
  font-family: "Muli", sans-serif;
}

.options {
  padding: 0;
  display: flex;
  flex-direction: column;
  cursor: default;
}

.options-title {
  cursor: default;
  font-weight: bold;
  margin-bottom: 10px;
}

.option {
  margin-top: 5px;
  display: block;
  list-style: none;
}

.women-clothes-links {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .options-container {
    width: 65%;
  }
}
