.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  z-index: 100;
  height: 100px;
}

.logo-container img {
  width: 100px;
  height: auto;
}

.main-nav {
  display: flex;
  align-items: center;
  margin-left: 60px;
  height: 100%;
}

.navbar {
  margin-left: 1vw;
  height: 100%;
  display: flex;
}

.navbar ul {
  margin-top: 0;
  list-style: none;
  padding: 0;
  height: 100%;
  display: flex;
}

.navbar-links {
  padding: 0 35px;
  display: block;
  height: 100%;
  text-decoration: none;
  font-family: "Muli", sans-serif;
  font-weight: 600;
  font-size: 17px;
  color: black;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.secondary-nav {
  width: 100px;
  margin-right: 200px;
}

.secondary-nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.secondary-nav-icons {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.dropdown-test {
  position: absolute;
  z-index: 300;
  top: 100px;
  right: 0;
  width: 100vw;
  display: none;
}

.dropdown:hover .dropdown-test {
  display: flex;
}

@media (max-width: 1020px) {
  .header {
    height: 70px;
  }

  .main-nav {
    margin-left: 25px;
  }

  .logo-container img {
    width: 60px;
    height: auto;
  }

  .navbar {
    display: none;
  }
  .toggle-button-container {
    margin-right: 20px;
  }
  .secondary-nav {
    margin-right: 20px;
    width: 100px;
  }
}

@media (min-width: 1024px) {
  .toggle-button-container {
    display: none;
  }

  .main-nav {
    margin-left: 25px;
  }

  .navbar-links {
    padding: 0 30px;
  }

  .secondary-nav {
    margin-right: 40px;
    width: 130px;
  }
}
