.container {
  margin: 0 5px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageContainer {
  position: relative;
}

.close {
  cursor: pointer;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.35);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.imageContainer:hover .close {
  opacity: 1;
}

.image,
.notClickableImage {
  cursor: pointer;
  display: block;
  width: 20vw;
  height: auto;
  min-width: 320px;
  max-width: 600px;
}

.notClickableImage {
  cursor: default;
}

.info {
  text-align: center;
  width: 100%;
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  padding: 7px 0;
  background-color: white;
}

.name,
.price {
  margin: 3px 0;
}

.button,
.sizesContainer {
  cursor: pointer;
  border: 1.5px solid black;
  width: 80%;
  height: 40px;
  background-color: white;
  font-family: "Muli", sans-serif;
  font-size: 15px;
  color: black;
  margin-bottom: 50px;
}

.button:hover,
.sizeButton:hover {
  background-color: black;
  border: none;
  color: white;
}

.sizesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sizeButton {
  cursor: pointer;
  height: 80%;
  width: 32px;
  border: none;
  background-color: white;
}

@media (max-width: 700px) {
  .image {
    width: 40vw;
    height: auto;
    min-width: 320px;
    max-width: 800px;
  }
}
