/* .container {
  margin-top: 200px;
  margin-bottom: 200px;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 6fr;
}

.imagesContainer {
  padding-right: 150px;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.productImage {
  width: 400px;
  height: auto;
  cursor: pointer;
}

.productInfo {
  width: 400px;
  height: 50px;
  margin-bottom: 10px;
  display: grid;
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 15px;
}

.likeButton {
  justify-self: flex-end;
  margin-right: 15px;
} */

:root {
  --filter-container-width: 250px;
}

.container {
  margin-top: 200px;
  display: flex;
}

.filterContainer {
  width: var(--filter-container-width);
  height: 100vh;
}

.imagesContainer {
  width: calc(100vw - var(--filter-container-width));
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-right: 2vw;
}

.individualImageContainer {
  margin: 1vw;
}

.productImage {
  width: 30vw;
  height: auto;
  min-width: 320px;
  max-width: 600px;
}

.productInfo {
  width: 100%;
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.likeButton {
  justify-self: flex-end;
}

@media (max-width: 900px) {
  .filterContainer {
    display: none;
  }
  .imagesContainer {
    width: 100vw;
    padding-right: 0;
  }

  .individualImageContainer {
    margin: 1vw 0;
  }
}
