.select {
  width: 75%;
  position: relative;
  cursor: pointer;
  font-size: 14px;
  font-family: "Muli", sans-serif;
  display: flex;
  flex-direction: column;
}

.dropdown,
.openDropdown,
.error {
  width: 100%;
  border: 1px gainsboro solid;
  height: 40px;
  line-height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown :first-child,
.dropdown :nth-child(2),
.openDropdown :first-child,
.openDropdown :nth-child(2),
.error :first-child,
.error :nth-child(2) {
  margin: 0 15px;
}

.error {
  border: 1px red solid;
}

.openDropdown {
  border: 1px black solid;
  border-bottom: none;
}

.dropdownContainer {
  position: absolute;
  width: 100%;
  top: 41px;
  cursor: pointer;
  border: 1px black solid;
  border-top: none;
  text-align: center;
  background-color: white;
}

.option {
  padding: 8px 0;
}

.option:hover {
  background-color: black;
  color: white;
}

.button,
.disabledButton {
  cursor: pointer;
  border: none;
  outline: none;
  margin-top: 50px;
  width: 240px;
  height: 40px;
  background-color: black;
  font-family: "Muli", sans-serif;
  font-size: 15px;
  color: white;
  align-self: center;
}

.button:hover {
  background-color: white;
  border: 1.5px solid black;
  color: black;
}

.disabledButton {
  cursor: default;
  background-color: rgba(0, 0, 0, 0.5);
}
