.container {
  position: relative;
}

.drawerOpen {
  position: fixed;
  background-color: white;
  z-index: 150;
  top: 100px;
  right: 40px;
  width: 230px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.option1 {
  margin: 30px 0 10px 0;
}

.option1,
.option2 {
  margin-left: 30px;
  font-size: 15px;
  font-family: "Muli", sans-serif;
  cursor: default;
}

.button {
  cursor: pointer;
  border: none;
  width: 100px;
  height: 40px;
  background-color: black;
  font-family: "Muli", sans-serif;
  font-size: 15px;
  color: white;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 25px;
  outline: none;
}

.button:hover {
  background-color: white;
  border: 1.5px solid black;
  color: black;
}

@media (max-width: 1250px) {
  .drawerOpen {
    left: 0;
    top: 70px;
    width: 100%;
  }
}
