.logo {
  width: 100px;
  height: auto;
}

.mainNav {
  display: flex;
  align-items: center;
  margin-left: 60px;
  height: 100%;
}

.navbar {
  margin-left: 1vw;
  height: 100%;
}

.ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  height: 100%;
}

.option {
  padding: 0 35px;
  text-decoration: none;
  font-family: "Muli", sans-serif;
  font-weight: 600;
  font-size: 17px;
  color: black;
  cursor: default;
  height: 100%;
  display: flex;
  align-items: center;
}

.dropdown {
  height: 100%;
}

.dropdown > a {
  cursor: pointer;
}

.dropdownMenu {
  position: absolute;
  z-index: 300;
  top: 100px;
  right: 0;
  width: 100vw;
  display: none;
}

.dropdown:hover .dropdownMenu {
  display: flex;
}

@media (max-width: 1250px) {
  .mainNav {
    margin-left: 25px;
  }

  .logo {
    width: 60px;
    height: auto;
  }

  .navbar {
    display: none;
  }
  .toggleButtonContainer {
    margin-right: 20px;
  }
}

@media (min-width: 1251px) {
  .toggleButtonContainer {
    display: none;
  }

  .mainNav {
    margin-left: 25px;
  }
}
