.menu {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  border-bottom: 0.05px solid lightgray;
  cursor: default;
}

.optionsContainer {
  padding: 20px 0 60px 0;
  width: 45%;
  display: flex;
  justify-content: space-between;
  font-family: "Muli", sans-serif;
}

.options,
.activeOptions {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.activeOptions {
  cursor: pointer;
}

.optionsTitle {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

.option {
  margin-top: 5px;
  list-style: none;
}

.optionLink {
  text-decoration: none;
  color: black;
}

.optionLink:hover {
  color: gray;
}

@media (max-width: 1200px) {
  .optionsContainer {
    width: 65%;
  }
}
